*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #e5e5f5;

}

.container-wrapper {
    background-color: #fff;
    width: 20%;
    height: 95vh;
    margin: 25px auto;
    position: absolute;
    padding: 20px;
    left: 40%;
   
}
.container {
    display: grid;
    gap: 20px;
}

.back-arrow{
    width: 20px;
}

h3{
    display: flex;
    gap: 2px;
    color: #B3B3EF;
    font-weight: 100;
    font-size: 15px;
    align-items: center;
    align-content: center;
}

.add-options {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    align-content: center;
}

h1 {
    color: #40404b;
    font-weight: 100;
   
}

.add {
    border-radius: 50%;
    border: 2px solid #B3B3EF;
    background-color: transparent;
    color: #B3B3EF;
    font-size: larger;
    height: 40px;
    width: 40px;
}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

progress {
    height: 24px;
    width: 100%;
    
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 20px 8px 12px 55px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
 
ul li::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-image: url(./images/circle.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 5px;
}
 
 
ul .check::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-image: url(./images/check.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 5px;
}

hr {
    background-color: #40404b;
}

h4 {
    color: #40404b;
    font-weight: 100;
    font-size: 18px;
}

.recurring-list-btn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    width: 80%;
    border: none;
    border-radius: 40px;
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
}

.yellow {
    background-color: #F5ED84;
}

.green {
    background-color: #B5EA81;
}

.pink {
    background-color: #F8AAAA;
}

.blue {
    background-color: #B3B3EF;
}